<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "apple-touch-icon" href = "icon2.png">
    <link rel = "stylesheet" href = "tablesstyle.css">
    <title>Products list</title>
</head>
<body>
<table th:boder="1" th:width="500" >
    <!--заголоаок таблицы -->
    <caption >Products </caption>
    <thead>
    <tr>
        <!-- table row-->
        <!-- создает одну строку таблицы -->
        <!--td = table data -->
        <th>ID</th>
        <th>Product name</th>
        <th>Cost </th>
        <th>Product provider</th>
    </tr>
    </thead>

    <tbody>
    <div th:each="product : ${products}">
        <tr>
            <td th:text="${product.getId()}"></td>
            <td>
                <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getProductName()}"></a>
            </td>
            <td th:text="${product.getCost()} + '$'"></td>
            <td th:text="${product.getProvider()}"></td>
        </tr>
    </div>
    </tbody>

    <tfoot>
    <tr>
        <td></td>
    </tr>
    </tfoot>
</table>
<br>
<hr/>
<form th:method="GET" th:action="@{/products/new}">
    <input type="submit" value="Add new product">
</form>
</body>
</html>